{% extends 'base.html' %}
{% block title %}
    Home
{% endblock title %}

{% block content %} 
    <style>
        a:link, a:visited {
            background-color: #f44336;
            color: white;
            padding: 7px 15px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }

        a:hover, a:active {
            background-color: red;
        }
    </style>
    <p>Hello, {{session['username']}}</p>
    
    <form method="POST" action="{{url_for('home')}}">
        <input type="text" name="data_type" placeholder="Income or Expense"><br>
        <input type="text" name="amount" placeholder="Enter Amount"><br>
        <input type="text" name="desc" placeholder="Enter Description"><br>
        <input type="submit" value="submit">
    </form>

    <div>
        <p>All Money Data...</p>
        {% for i in moneyData %}
            <p>
                {{i.sno}}. {{i.data_type}} - {{i.amount}} {{i.desc}}
                 <a href="/delete_data/{{i.sno}}" class="dlt_url">Delete</a>
            </p> 
        {% endfor %}
    </div>

{% endblock content %}